<footer class="footer bg-dark text-white py-5 mt-auto">
  
    <div class="container">
        <p class="mb-0">© 2023 Yelp Camp. All rights reserved.</p>
        <p class="mb-0">Created by Farah Munawar</p>
    </div>
   
    
    
</footer>